@import "../core/index";

.clearfix {
  @include clearfix;
}

.hidden {
  display: none;
}
.bold {
  font-weight: bold;
}
.flex {
  display: flex;
}
.flex-item {
  flex: 1;
}
.flex-align-center {
  align-items: center;
}
.flex-between {
  justify-content: space-between;
}
.flex-between {
  justify-content: space-between;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.safe-area-paddding-bottom {
  padding-bottom: 34px;
}
