/* 公共variable */

/* color */
$black21: #212121; // 字体黑色
$black22: #222222;
$black1b: #1b1b1b; // 普通字体黑色
$color: $black1b; // default
$gold: #b99f60; // 金色
$gold_2: #b9a061;
$gold-ab9357: #ab9357;
$black19: #191919; // 标题黑色
$gray-bg: #f5f5f5; // 背景灰色
$gray-border-e5: #e5e5e5; // 边框颜色
$gray-border-cc: #cccccc; // 边框灰色
$gray-border-97: #979797; // 边框灰色
$gray-88: #888888;
$gray-border: #dddddd; // 边框灰色
$gray-text: #8a8a8a; // 字体灰色
$gray-bg-btn: #f6f6f8; // 辅助色03  灰色按钮背景
$gray-df: #dfdfdf;
$gray-d8: #d8d8d8;
$green-63: #63b753;
$red-f0: #f06363;
$white: #fff; //白色
$pink: #ee6466;
/* search component */
$search-txt: #888888;
$search-icon: #a6a6a6;
$search-close: #ab9357;
/* product-filter */
$product-filter-text: #212121;
$product-filter-boder: #dfdfdf;
/* product-item */
$product-item-name: #212121;
$product-item-summary: #222222;
$product-item-price: #222222;
$product-item-market-price: #9b9b9b;
$product-item-discount: #f06363;
// font-size
$fontsize_1: 24rpx;
$fontSize: $fontsize_1; // default

$ping-fang-sc: 'PingFang-SC-Regular'; // 苹果方正字体
$df: #dfdfdf;
$f3: #f3f0e9;
$c4d: #4d4d4d;
$e6: #e6e6e6;
$f345: #f3f4f5;
$c028: #000028;
$c9c8: #9c8343;
$c989: #98989f;
//cdn
//$cdn:'"@cdn"'
//$cdn: 'http://i18n.vipstatic.com/viplux/sa';
