/*
 * @Author: yaosong.shen
 * @Date: 2019-10-09 13:58:39
 * @Last Modified by: yaosong.shen
 * @Last Modified time: 2019-11-18 14:58:32
 */

@import '../core/index';

page {
  width: 100%;
  height: 100%;
  background-color: $c-f78;
  color: $color;
  font-size: $fontSize;
  font-family: 'PingFangSC-Semibold, PingFang SC';
}

page,
view,
text,
navigator,
form,
label,
input,
button,
image,
video,
audio,
canvas {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

form {
  display: block;
  width: 100%;
}

button::after {
  display: none;
}
